.card-content {
    max-width: 80vw;
    position: absolute;
    bottom: 0;
}
.card-list {
    display: flex;
    padding-top: 0px;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}


.card {
    height: 190px;
    width: 220px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:focus-within~.card,
.card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}


.card-header {
    display: flex;
    justify-content: space-between;
    background-image: none;

    .lvl-back {
        background-color: #ff8a00;
        border-radius: 3px;
        padding: 5px;
    }
    .card-position {
        color: rgb(141, 154, 165);
    }
    .attack {
        background-color: #c51717;
    }   
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.author-avatar {

}

.author-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.player-name {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}
.player-text {
    padding-top: 5px;
    text-align: center;
    max-width: 100%;
    // Potřeba opravit
    max-height: 50px;
    overflow: hidden;
}
.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ff8a00;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}
