@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter&family=Oswald:wght@300&family=Poppins&family=Roboto&family=Source+Sans+Pro:wght@200&family=Special+Elite&display=swap');

body {
  font-family: "Inter", sans-serif, "Oswald", sans-serif, "Poppins", sans-serif,
    "Roboto", sans-serif;
    font-size: 16px;
    color: #fff;
}