.gamesArea {
    .clay::before {
        background-image: url("../assets/backgrounds/clay-border.png");
    }
    section {
        padding: 10px;
            height: 145px;
            background-image: url("../assets/game-areas/vector-football-soccer-field.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: space-between
    }
}