.shop {
    position: relative;
    
    div h3 {
        text-align: center;
    }

    nav {
        margin-top: 25px;
        margin-bottom: 5px;
        ul {
            display: flex;
            justify-content: space-between;

            li {
                padding: 10px;
                background-color: #7C7C7C;
                border: 2px solid #000;
                border-radius: 40px;

                img {
                    height: 40px;
                    width: 40px;
                    cursor: pointer;
                }
            }
        }
    }
    .shop-motivation {
        padding: 10px 0;
        background-color: rgba(4, 2, 3, 0.4);
    }
    section.items {
        margin: 2px;
        border: 2px solid rgb(218, 214, 209);
        .item-background {
            background-image: url("./backgrounds/item-background.png");
            background-size: cover;
            display: flex;
            
            align-items: center;
            padding: 5px 10px;
            &:hover {
                filter: brightness(1.2);
            }
            .game-text {
                display: flex;
                flex-direction: column;
                font-family: "Poppins", sans-serif;
                padding-left: 25px;
                
                .game-title {
                    font-size: 20px;
                    font-weight: 450;
                }
                .game-cost {
                    font-size: 16px;
                    font-weight: 400;
                    color: #7a7a8c;
                    &::before {
                        content: "";
                        display: flex;
                        flex-direction: column;
                        margin-right: 8px;
                        background-image: url("./icons/trophy-main.png");
                        background-size: cover;
                        width: 20px;
                        height: 20px;
                        margin-right: 5px;
                    }
                }
                .game-cost {

                    &::before {
                        content: "";
                    }
                }
            }

            .items-earned {
                position: absolute;
                right: 10px;
                padding-right: 15px;
                font-size: 28px;
                font-weight: 400;
                color: #7a7a8c;
                float: right;
            }
        }
    }
}